scripts/logs/hypodd_output_archive/
scripts/logs/*
runs/*/*.log
runs/*/*.cc
runs/*/*.pha
runs/*/*.ct
# Specifically ignore log archive folders
**/hypodd_output_archive/
# new package build artifacts
__pycache__/
*.egg-info/
src/**/__pycache__/
